@media  screen  and (max-width:775px) {
 
   
    .testimonial-container{
        justify-content: center;
        flex-direction: column;
    }
  
    .container1{
        
        width: 100%;
    }
    .testimonials-cards li{
        width: auto;
        display: inherit;
    }

    .container2{
        margin: 50px 0;
        width: 100%;
    }
   
    
}